<!--
    *********************************************
     Name:         Huston Bokinsky
                   Karina Liles
                   Xian Wu
     File:         turtlebot_teleop.launch
     Assignment:   Project 3 - Turtlebot Setup
     Date:         25 March, 2014
     Course:       CSCE 574 - Robotics
     Instructor:   Dr. O'Kane
     Description:  Set up basic connections and functionality for 
                   our turtlebot robots. Create basic launch file; 
                   get wifi signal strength from robot's netbook; 
                   monitor and print robot's diagnostic messages, 
                   battery charge, and wifi strength; control robot 
                   via network connection from lab workstation. 
     
    *********************************************
  -->

<launch>
   <remap
        from="turtle1/cmd_vel"
        to="cmd_vel"
        />
   <node
        pkg="turtlesim"
        type="turtle_teleop_key"
        name="teleop_key"
        />
</launch>