<launch>

  <!-- Start create drive controller -->
  <node
    pkg="bokinsky_liles_wu_project4"
    type="autodrive_create"
    name="sunday_drive"
   />

  <!-- Start safe wifi monitor -->
  <node
    pkg="bokinsky_liles_wu_project4"
    type="safe_wifi"
    name="safe_wifi"
   />

  <!-- Start safe sensor monitor -->
  <node
    pkg="bokinsky_liles_wu_project4"
    type="safe_sensor"
    name="safe_sensor"
   />

</launch>
